body {
  margin: 0;
  background: #000917;
  font-family: Arial, sans-serif;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  background: #040415;
  padding: 10px 20px;
}

.header img {
  width: 55px;
  margin-right: 10px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  color: #0ff;
  font-size: 20px;
  text-shadow: 0 0 10px #0ff;
}

.titulo {
  text-align: center;
  color: #0ff;
  font-size: 40px;
  margin-top: 50px;
  text-shadow:
    0 0 8px #0ff,
    0 0 20px #0ff;
}


.contatos {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}


.item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(0, 255, 255, 0.1);
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px #0ff;
}

.item:hover {
  box-shadow: 0 0 20px #00e6e6;
}

.icon {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}


span {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
footer{
    color: white;
    text-align: center;
}



