body {
  margin: 0;
  background: rgb(0, 0, 0);
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
.header {
    display: flex;
    align-items: center;
    background: #040415;
    padding: 10px 20px;
}

.header img {
    width: 55px;
    margin-right: 10px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    color: #0ff;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0 0 10px #0ff;
}


.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
}


.produto {
    background-color: #1b18486d;
    border: 2px solid #0ff;
    border-radius: 12px;
    padding: 15px;
    width: 220px;
    text-align: center;
    color: white;
    box-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff;
}

.produto:hover {
    box-shadow:
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto h2 {
    font-size: 18px;
    margin: 10px 0;
}

.produto p {
    font-size: 16px;
    margin: 10px 0;
    color: #0ff;
    text-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff;
}
.btnComprar {
    background: #0ff;
    border: none;
    color: #000;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;

    box-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff;
}

.btnComprar:hover {
    box-shadow:
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;
}
footer{
    color: white;
    text-align: center;
}

